{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Ajouter un participant à <strong>{{ event.name }}</strong></h1>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <a href="{{ path('event_view', { id: event.id }) }}" class="btn btn-secondary">Retour</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
